<div class="px-4 bg-white shadow rounded">
    <div class="pt-4 lead">
        <div class="text-center">
            <h1 class="display-4">My Blogs <i class="fas text-danger fa-newspaper pl-1"></i></h1>
            <p class="text-muted">
                Welcome to my blog page! Here I'll share my life experiences.
            </p>
        </div>

        <form>
            <div class="lead">
                {{#if validationErrors.length}}
                {{#each validationErrors}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>
                        {{this}}
                    </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/each}}
                {{/if}}
                <div class="input-group input-group-lg mb-3">
                    <input type="text" value="{{search}}" name="search" class="form-control"
                        placeholder="Search here..." aria-describedby="button-addon">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="submit" id="button-addon">
                            Search
                            <i class="fas fa-search pl-1 fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fromDate">From</span>
                        </div>
                        <input name="fromDate" value="{{fromDate}}" type="date" class="form-control"
                            aria-describedby="fromDate">
                    </div>
                    <div class="col-md-6 input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="toDate">To</span>
                        </div>
                        <input name="toDate" value="{{toDate}}" type="date" class="form-control"
                            aria-describedby="toDate">
                    </div>
                </div>
            </div>
        </form>
        <hr class="my-4 bg-danger">
    </div>

    {{#if blogs.length}}
    <div class="row lead">
        {{#each blogs}}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 bg-white">
                <img src="{{image}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <hr>
                    <p class="card-text">{{this.caption}}</p>
                    <a class="btn btn-outline-danger" href="/blogs/{{this.id}}">
                        <i class="fas fa-code"></i>
                        <span class="pl-2">Read more</span>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <i class="far fa-calendar-alt pr-1"></i>
                        {{timestampToDateString this.timestamp}}
                    </small>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <nav class="pb-2">
        <ul class="pagination justify-content-center">
            {{#paginate pagination type="previous"}}
            <li class="page-item {{#if disabled}}disabled{{/if}}">
                <a class="page-link" href="?page={{n}}">Previous</a>
            </li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="5"}}
            <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
            <li class="page-item {{#if disabled}}disabled{{/if}}"><a class="page-link" href="?page={{n}}">Next</a>
            </li>
            {{/paginate}}
        </ul>
    </nav>
    {{else}}
    <div class="pb-4 text-center">
        <span class="lead text-muted">
            NO BLOGS :(
        </span>
    </div>
    {{/if}}
</div>