{{#if blog}}
<div class="bg-white rounded lead">
    <div class="pt-4 px-4">
        {{#if validationErrors.length}}
        {{#each validationErrors}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                {{this}}
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/each}}
        {{/if}}
        <div class="text-center">
            <h1 class="display-4 ">Edit Blog <i class="text-danger far fa-newspaper pl-2"></i></h1>
            <p class="text-muted">
                Please feel free to contact me if you need any further information about me.
            </p>
        </div>
        <hr class="my-4 bg-danger">
    </div>
    <form enctype="multipart/form-data" method="POST">
        <div class="container">
            <div class="form-group row">
                <label for="inputTitle" class="col-md-1 col-sm-12 col-form-label col-form-label-lg">
                    Title
                </label>
                <div class="col-md-11 col-sm-12">
                    <input type="text" name="title" class="form-control form-control-lg" id="inputTitle"
                        placeholder="Input title here..." maxlength="50" value="{{blog.title}}">
                </div>
            </div>
            <input type="hidden" name="originalFile" value="{{blog.image}}">
            <div class="form-group row">
                <label for="inputGroupFile01" class="col-md-1 col-sm-12 col-form-label col-form-label-lg">
                    Image
                </label>
                <div class="custom-file col-md-11 col-sm-12">
                    <input accept="image/*" name="image" type="file" class="custom-file-input" id="inputGroupFile01"
                        onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                    <label class="custom-file-label text-muted" for="inputGroupFile01">{{blog.image}}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription">
                    Caption
                    <br>
                    <small class="text-muted">
                        Please feel free to contact me if you need any further information
                        about me.
                    </small>
                </label>
                <input name="caption" class="form-control form-control-lg" id="inputDescription" rows="2"
                    placeholder="Write your caption here..." maxlength="75" value="{{blog.caption}}"></input>
            </div>
            <hr class="mt-4">
            <div class="form-group">
                <label for="inputContent">
                    Content
                    <br>
                    <small class="text-muted">
                        Please feel free to contact me if you need any further information
                        about me.
                    </small>
                </label>
                <textarea name="content" class="form-control form-control-lg" id="inputContent" rows="7"
                    placeholder="Write your content here..." maxlength="500">{{blog.content}}</textarea>
            </div>
            <div class="text-right">
                <button formaction="/deleteBlog/{{blog.id}}" type="submit" class="btn btn-outline-danger btn-lg mr-2">
                    <i class="fas fa-trash-alt pr-2"></i>Delete
                </button>
                <button formaction="/editBlog/{{blog.id}}" type="submit" class="btn btn-outline-success btn-lg my-4">
                    <i class="fas fa-edit pr-2"></i>Update
                </button>
            </div>
        </div>
    </form>
</div>
{{else}}
<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-monospace text-white">
        <div class="row">
            <h1 class="display-4">Blog not found</h1>
            <i class="pl-4 far fa-4x fa-dizzy"></i>
        </div>
        <p class="lead">The blog you are looking for is not available.</p>
    </div>
</div>
{{/if}}