{{#if question}}
<div class="accordion shadow" id="accordionExample">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <i class="fab fa-3x text-danger fa-quora"></i>
                <span class="pl-3 lead text-dark font-weight-bold">
                    {{question.question}}
                </span>
                <div class="ml-auto">
                    <span class="text-muted">
                        <i class="far fa-calendar-alt"></i>
                        {{timestampToDateString question.timestamp}}
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex text-muted">
                <i class="p-2 fab fa-3x fa-amilia"></i>
                <div class="pt-3 flex-grow-1 pl-3 lead">
                    {{#if question.answer}}
                    {{question.answer}}
                    {{else}}
                    <small>
                        NO ANSWER FOR NOW.
                    </small>
                    {{/if}}
                </div>
                {{#if isLoggedIn}}
                <div class="align-self-center pr-2">
                    <a href="/questions/edit/{{question.id}}" class="btn btn-outline-primary">
                        <i class="fas fa-lg fa-wrench"></i>
                        <span class="lead pl-2">Edit</span>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container  text-white">
        <div class="row">
            <h1 class="display-4">Question not found</h1>
            <i class="pl-4 far fa-4x fa-dizzy"></i>
        </div>
        <p class="lead">The question you are looking for is not available.</p>
    </div>
</div>
{{/if}}